@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply overflow-x-hidden overflow-y-scroll text-primary font-secondary bg-white text-[#000000];
  }

  .h1 {
    @apply text-[54px] text-[#000000] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 text-center;
  }

   .h1White {
    @apply text-[54px] text-[#FFFFFF] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 text-center;
   }

  .h2 {
    @apply text-[10px] lg:text-[30px] font-primary leading-[110%] tracking-[-0.05em] mb-2 text-justify;
  }

   .h3 {
     @apply max-w-[80%] text-[18px] text-[#000000] lg:text-[58px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2 text-center;
    }


  .section {
    @apply h-screen w-screen;
  }

  .btn {
    @apply py-[18px] px-[50px] h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }
}

/*Non Tailwind*/
html, body { 
  overflow-x: hidden;
}

body {
  position: relative;
}

.projectImages {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      height: 200px;
}

.projectDescriptions {
    vertical-align: top;
    text-align: justify;
    margin: auto;
    width: auto;
    line-height: 25pt;
    margin-right: 10%;
    margin-left: 10%;
}

.bio {
    text-align: justify;
    display: fixed;
    margin-left: auto;
    margin-right: auto;
    line-height: 25pt;
    max-width: 800px;
    font-size: 2.0em;
    color: black;
  }

.chapel {
    background-image: url("./img/about/chapelWide.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.bio2 {
    text-align: justify;
    display: fixed;
    margin-left: auto;
    margin-right: auto;
    line-height: 25pt;
    max-width: 800px;
    font-size: 2.0em;
    color: white;
  }

.dukeBackground {
    background-image: url("./img/about/duke.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.projectDescriptionsMobile {
   /* Accounts for project descriptions  */
}

.sourceCode {
  font-size: 20px;
  text-align:right;
}



 @media only screen and (max-width: 600px) {
     .bio {
         font-size: 20px;
         text-align: center;
         max-width: 80%;
     }

     .bio2 {
         font-size: 20px;
         text-align: center;
         max-width: 80%;
     }

     .projectDescriptionsMobile {
      max-width: 80%;
     }



 }

